* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background: linear-gradient(to right, rgb(14, 48, 183), rgb(23, 5, 93));
    color: white;
    padding: 0.5%
}

.header {
    font-weight: bold;
}

.search {
    border-radius: 5px;
    padding: 3px;
}

.btn {
    background: rgb(33, 107, 244);
    color: white;
    border-radius: 5px;
}

.current-weather-container {
    border: solid 1px black;
}

/* uv index classes */
.fav {
    background: rgb(11, 162, 11);
    border-radius: 3px;
    padding: 2px;
}

.mod {
    background:yellow;
    border-radius: 3px;
    padding: 2px;
}

.sev {
    background: red;
    border-radius: 3px;
    padding: 2px;
}
/* uv index classes end*/

/* future forecast styles */
.card {
    background: rgb(43, 61, 120);
    color: white;
    padding: 4px;
    text-align: center;
}